*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
  
    background-image: url(img/fondo1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
h1{
    text-align: center;
    color: white;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.4),
             2px 8px 13px rgba(0,0,0,0.1),
             2px 18px 23px rgba(0,0,0,0.1);
}
h2{
    text-align: center;
    color: white;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.4),
             2px 8px 13px rgba(0,0,0,0.1),
             2px 18px 23px rgba(0,0,0,0.1);
}
.contenedor{

    max-width: 1000px;
    min-height: 800px;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.5);
    

 
    
}
#marcador{
    height: 300px;
    width: 300px;
    
    /*border-image:16px solid url(img/puntos.jpg);*/
    background-size:300px 200px;
    background-repeat: no-repeat;
    background-color: rgba(166, 5, 157,0.5);
    text-align: center;
    
    display: inline-block;
    margin: 12px;
    vertical-align: bottom;
    position:relative;
    bottom: 0;
    
}
#marcador:hover{
    background-color: plum;
}
figcaption{
        background:rgba(0,0,0,.5); 
        text-align:center; 
        width:100%;
        padding:.2em;  
      }
#marcador figcaption{
    position: absolute;
    bottom: 0;
}
.curriculum{
    background-image:url(img/curriculum.jpg);
    
    
}
.carta{
    background-image:url(img/carta2.jpg);
    
}
.casita{
    
    background-image: url(img/casita.jpg);
    
}
.comercio{
    background-image: url(img/com_valdep.png)
}
figcaption a{
    color:white;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid gray;
}
@font-face{
 font-family: "fuente1";
 src: url(../fonts/BowlbyOneSC-Regular.ttf);    
}

.descripcion{
    position: relative;
    top: 200px;
    font-family: "fuente1";   
}
p{
font-family: "fuentep" sans-serif;
}
footer{
    position: absolute;
    bottom: 0;
    right: 280px;
}
ul li a{
    color: white;
    font-size: 2em;
}
.enlaces{
    display: block;
    position: static;
    right: 0 auto;
}



